.form__product {
    background: lightgoldenrodyellow;
    padding: 20px;
    width: 800px;
    border-radius: 15px;
    box-shadow: -15px 10px 25px black;
    text-align: left;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form__product-fields {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 40%;
}

.form__product input {
    margin: 15px;
    width: 100%;
}

.form__input button {
    border-radius: 0;
}

.form__input {
    margin: 15px;
}

.form__input input {
    margin: 0;
    width: 100px;
}

.form__options {
    margin: 0 auto;
}

.form__options button {
    margin: 0 10px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.form__options button:hover {
    opacity: 0.5;
}

.btn-green {
    background: lightblue;
}

.btn-red {
    background: lightcoral;
}