.form__toast {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 250px;
    z-index: 1;
}

.form__toast-in .error {
    width: unset;
    animation: toast-in .5s linear;
    box-shadow: none;
}

.form__toast-out {
    /*animation: toast-out 3s ease-out;*/
    display: none;
}

@keyframes toast-in {
    0% {
        transform: translateX(200px);
        opacity: 0.5;
    }
    30%,
    60%,
    80% {
        box-shadow: -5px 10px 20px black;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes toast-out {
    0% {
        transform: translateX(0);
        opacity: 0.5;
    }
    30%,
    60%,
    80% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(400px);
        opacity: 0;
    }
}

.remove-toast {
    position: absolute;
    border: 2px solid #000;
    cursor: pointer;
    right: -15px;
    top: -5px;
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1;
}

.remove-toast:hover {
    background: lightcoral;
    color: #fff;
}

.form__product {
    background: lightgoldenrodyellow;
    padding: 20px;
    width: 800px;
    border-radius: 15px;
    box-shadow: -15px 10px 25px black;
    text-align: left;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form__product-fields {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 40%;
}

.form__product input {
    margin: 15px;
    width: 100%;
}

.form__input button {
    border-radius: 0;
}

.form__input {
    margin: 15px;
}

.form__input input {
    margin: 0;
    width: 100px;
}

.form__options {
    margin: 0 auto;
}

.form__options button {
    margin: 0 10px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.form__options button:hover {
    opacity: 0.5;
}

.btn-green {
    background: lightblue;
}

.btn-red {
    background: lightcoral;
}