.form__product {
    background: lightgreen;
    padding: 20px;
    border-radius: 15px;
    box-shadow: -15px 10px 25px black;
    text-align: left;
}

.form__product input {
    height: 15px;
    width: 25%;
    margin: 15px;
    width: 200px;
}

.form__input {
    display: flex;
    margin: 15px
}

.form__input button {
    margin-bottom: 5px;
    width: 20px;
    border-radius: 0;
}

.form__input input {
    margin: 0;
    width: 100px;
}

.form__options {
    margin: 15px;
    text-align: right;
}

.form__options button {
    margin: 0 10px;
}