body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --background: #fff;
    --navbar: #0069c0;
    --card: #97e9ff;
    --text: #fff;
    --loader: #0069c0;
}


/*LOADER*/

.loader {
    width: 80px;
    height: 80px;
    margin: 10% auto;
    border-radius: 50%;
    background: var(--loader);
    background: linear-gradient(to right, var(--loader) 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    animation: loader 1.4s infinite ease;
}

.loader:before {
    width: 50%;
    height: 50%;
    background: var(--loader);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: var(--background);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}