.product__new {
    background: lightgreen;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin: 20px;
    width: 200px;
}

.table__find {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table__find input {
    width: 500px;
    height: 20px;
}

.table__products {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.table__products th,
.table__products td {
    border-top: 1px solid #000;
    padding: 10px;
    max-width: 200px;
    overflow: hidden
}

.table__products td:nth-child(n + 2) {
    border-left: 1px solid #000;
}

.table__products tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table__products tbody tr:hover {
    opacity: 0.5;
    background: #CCC;
}

.table__products thead {
    background: #000;
    color: #FFF;
    position: sticky;
    top: 0;
    width: 100%;
}

.table__products tbody {
    text-align: left;
}